<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">

  <li>
    <a href="index.html">Home</a>
  </li>

  <li>
    <a href="profiles.html">Profiles</a>
  </li>
  
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Test
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a href="indicatoren.html">Indicatoren</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="artifacts.html">Artifacts</a>
  </li>

</ul>